body {
    background-color: #D5E1EF;
    margin: 0px;
    display: flex;
    height: 100vh;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
}

.kotak {
    background-color: #ffff;
    width: 320px;
    height: 499px;
    align-items: center;
    border-radius: 10px;
}

.kotak2 {
    background-color:blue;
    width: 288px;
    height: 288px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.kotak2 img {
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 65px;
    margin-right: 60px;
    margin-bottom: 60px;
}

.kotak h4{
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1f314f;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-bottom: 0px;;
}

.kotak p {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #68778d;
    margin-top: -15px;
}

/*TAMPILAN DEKSTOP
@media screen and(min-width: 769px) {
    .kotak-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .kotak {
        width: 100%;
    }
}

/*TAMPILAN MOBILE
@media screen and(min-width: 768px) {
    .kotak-wrapper{
        display: block;
    }

    .kotak{
         width: 30%;
    }
}
